.button {
    display: inline-block;
    @include makeButton($default_color, $white, $medium, 6px);
  &_catalogue {
    @include makeButton($red, $white, $medium, 6px);
  }
  @include createThemeButtons($themePallete);
  &_small {
    font-size: $small;
  }
  &_large {
    font-size: $large;
  }
}

