@import "../blocks/variable.scss";
@import "../blocks/helpers.scss";

html {
  font-size: $base;
}
body {
  font-family: 'Roboto', sans-serif;
}
.one {
  font-size: $small;
  color: $blue;
}
.two {
  font-size: $medium;
  color: $red;
}
.three {
  font-size: $large;
  color: $green;
}
@media screen and (max-width: 767px) {
  .two {
    display: none;
  }
  .three {
    display: none;
  }
}

.rem {
  font-size: px2rem(32px, $base);
  display: flex;
}
.em {
  font-size: px2em(32px, $base);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
