@function px2rem($f_size, $base) {
  $remSize: $f_size / $base;
  @return $remSize * 1rem;
}
@function px2em($f_size, $base) {
  $emSize: $f_size / $base;
  @return $emSize * 1em;
}

@mixin makeButton($bg_color, $color, $f_size, $B_radius) {
  background-color: $bg_color;
  color: $color;
  font-size: px2em($f_size, $base);
  border-radius: $B_radius;
  padding: px2em(0.5 * $f_size, $base) px2em(1.2 * $f_size, $base);
  border: 1px solid $bg_color;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: darken($bg_color, 15%);
    border-color: darken($bg_color, 15%);
  }
  &:disabled {
    cursor: not-allowed;
    color: $color;
    background-color: lighten($bg_color, 20%);
    border-color: lighten($bg_color, 20%);
  }
}
@mixin createThemeButtons($themeBtn) {
  @each $status, $theme in $themeBtn {
    &_#{$status} {
      @include makeButton($theme, $white, $medium, 6px);
    }
  }
}
@mixin menuStatus($opacity, $visibility, $height) {
  opacity: $opacity;
  visibility: $visibility;
  height: $height;
}
