@function px2rem($f_size, $base) {
  $remSize: $f_size / $base;
  @return $remSize * 1rem;
}
@function px2em($f_size, $base) {
  $emSize: $f_size / $base;
  @return $emSize * 1em;
}
@mixin changeStateBtn($color, $bg_color, $border) {
  color: $color;
  background-color: $bg_color / 1.5;
  border-color: $border / 1.5;
}
@mixin makeButton($bg_color, $color, $f_size, $B_radius) {
  background-color: $bg_color;
  color: $color;
  font-size: px2em($f_size, $base);
  border-radius: $B_radius;
  padding: px2em(0.5 * $f_size, $base) px2em(1.2 * $f_size, $base);
  border: 1px solid $bg_color;
  outline: none;
  cursor: pointer;
}
@mixin menuStatus($opacity, $visibility, $height) {
  opacity: $opacity;
  visibility: $visibility;
  height: $height;
}
