$blue: #0063bd;
$red: #ff0059;
$green: #05c405;
$white: #ffffff;
$gray: #939393;
$default_color: $blue;
$menu_bg: #c9c9c9;

$base: 16px;
$small: 12px;
$medium: 16px;
$large: 18px;

$themePallete: (primary: #212121, success: #27BA6C, info: #03a9f4, warning: #FF8833, danger: #ff1a1a);
