extends ../templates/layout/baseLayout
include ../templates/layout/mixins
block head
    - var title= 'Главная'
    include ../templates/blocks/head
block scripts
    include ../templates/blocks/scripts
block content
    p(class="one") browserSync dev server runned!
    p(class="two") browserSync dev server runned!
    p(class="three") browserSync dev server runned!
    p(class="rem") Into rem
    p(class="em") Into em
    +button('Активная', ['button_medium'])(type="button")
    +button('Отключенная', ['button_medium', 'button_warning'])(type="button", disabled)
    </br>
    </br>
    +button('Primary', ['button_medium', 'button_primary'])(type="button")
    +button('Success', ['button_medium', 'button_success'])(type="button")
    +button('Info', ['button_medium', 'button_info'])(type="button")
    +button('Warning', ['button_medium', 'button_warning'])(type="button")
    +button('Danger', ['button_medium', 'button_danger'])(type="button")
    </br>
    </br>
    +button('Primary', ['button_small', 'button_primary'])(type="button")
    +button('Success', ['button_small', 'button_success'])(type="button")
    +button('Info', ['button_small', 'button_info'])(type="button")
    +button('Warning', ['button_small', 'button_warning'])(type="button")
    +button('Danger', ['button_small', 'button_danger'])(type="button")
    </br>
    </br>
    +button('Primary', ['button_large', 'button_primary'])(type="button")
    +button('Success', ['button_large', 'button_success'])(type="button")
    +button('Info', ['button_large', 'button_info'])(type="button")
    +button('Warning', ['button_large', 'button_warning'])(type="button")
    +button('Danger', ['button_large', 'button_danger'])(type="button")
    </br>
    </br>
    -
        var menu = [
            'Газосиликатные блоки',
            'Железобетонные изделия',
            'Керамические блоки',
            'Кирпичи',
            'Кровельные материалы',
            'Тротуарная плитка',
            'Бордюрный камень'
        ]
    -
        var submenu = [
            'Облицовочный кирпич',
            'Керамические кирпичи',
            'Фасадный кирпич',
            'Рядовой кирпич',
            'Черновой кирпич',
            'Кирпич рабочий',
            'Сухие смеси'
        ]
    -
        var products = [
            { img: './assets/images/image1.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: './assets/images/image2.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: './assets/images/image3.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: './assets/images/image4.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '' },
            { img: './assets/images/image5.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '' },
            { img: './assets/images/image1.jpg', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '' },
            { img: '', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: '', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: '', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '11 руб/шт' },
            { img: '', name: 'Кирпич керамический', parameters: ['Вид: Пустотный', 'Размер: 250х120х80', 'Цвет: красный'], price: '' }
        ]
    .products
        each item in products
            +productCard(item.img, item.name, item.parameters, item.price)
    include ../templates/components/mainSlider
    +carousel("./assets/images/1.jpg", "./assets/images/2.jpg", "./assets/images/3.jpg", "./assets/images/4.jpg", "./assets/images/5.jpg", "./assets/images/6.jpg", "./assets/images/7.jpg")
    .main-menu
        .menu.is-open
            +button('Каталог товаров', ['button_large', 'button_catalogue'])
            .main-menu__toggle.toggle-menu
                ul(class="toggle-menu__list")
                    each item in menu
                        li(class="is-open")
                            a(href="#")= item
                            if (item == 'Кирпичи')
                                ul(class="toggle-menu__submenu toggle-menu")
                                    each item in submenu
                                        li
                                            a(href="#")= item

